.LoginForm {
  width: 60%;
  margin: 3rem auto;
  border: 0.1px solid black;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;

  padding: 1rem;
}
.LoginForm div {
  display: flex;
  margin: 0.5rem;
}
.LoginForm div label,
.LoginForm div input {
  flex: 1;
}
.LoginForm .button {
  display: block;
}
.button {
  background-color: rgb(88 49 228);
  width: 20%;
  margin: 1rem auto;
  border: 2px solid rgb(88 49 228);
  border-radius: 6px;
  color: white;
  padding: 0.3rem 1rem;
}
.button:hover {
  color: rgb(88 49 228);
  background-color: white;

  border: 2px solid rgb(88 49 228);
}
.button.invalid {
  color: rgb(241, 232, 232);
  background-color: grey;
  border: 2px solid grey;
}
.LoginForm div label.invalid,
.LoginForm div input.invalid {
  background-color: salmon;
}
