.LoginForm {
  width: 60%;
  margin: 3rem auto;
  border: 0.1px solid black;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;

  padding: 1rem;
}
.LoginForm button {
  margin: 1rem 0;
}
.LoginForm button,
.LoginForm label,
.Labelform input {
  display: block;
}
